@-moz-keyframes spin {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}
@-webkit-keyframes flash2{0%,45%,75%,100%{opacity:1}0%,60%,85%{opacity:.25}}
@-moz-keyframes flash2{0%,45%,75%,100%{opacity:1}0%,60%,85%{opacity:.25}}
@-o-keyframes flash2{0%,45%,75%,100%{opacity:1}0%,60%,85%{opacity:.25}}
@keyframes flash2{0%,45%,75%,100%{opacity:1}0%,60%,85%{opacity:.25}}
@-webkit-keyframes flash3{0%,45%,75%,100%{opacity:1}0%,85%{opacity:.25}}
@-moz-keyframes flash3{0%,45%,75%,100%{opacity:1}0%,85%{opacity:.25}}
@-o-keyframes flash3{0%,45%,75%,100%{opacity:1}0%,85%{opacity:.25}}
@keyframes flash3{0%,45%,75%,100%{opacity:1}0%,85%{opacity:.25}}

@-webkit-keyframes flash4{0%,95%,97%,99%,100%{opacity:1}96%,98%{opacity:.25}}
@-moz-keyframes flash4{0%,95%,97%,99%,100%{opacity:1}96%,98%{opacity:.25}}
@-o-keyframes flash4{0%,95%,97%,99%,100%{opacity:1}96%,98%{opacity:.25}}
@keyframes flash4{0%,95%,97%,99%,100%{opacity:1}96%,98%{opacity:.25}}
@-webkit-keyframes fade{100%{opacity:1}0%{opacity:.25}}
@-moz-keyframes fade{100%{opacity:1}0%{opacity:.25}}
@-o-keyframes fade{100%{opacity:1}0%{opacity:.25}}
@keyframes fade{100%{opacity:1}0%{opacity:.25}}
div.orbit-wrapper {
    clear: both;
    border-bottom: 2px solid #3d3d3d;
}
#orbitDemo.orbit > a {
    width: 100%;
}
#orbitDemo {
    margin-top: 0px;
}

.ten.columns.right {
    margin-left: 15%;
}
/*============================*/
/*===== Recent Posts Styles ======*/
/*============================*/
.post-edit-link {
    font-size: 17px;
    width: 100px;
    display: block;
}
#recent_posts {
    padding-bottom: 45px;
    border-bottom: 2px solid #3d3d3d;
}
.recent-posts-image {
    margin-top: 8px;
    margin-bottom: 8px;
}
#recent-posts-container.three.columns {
    width: 22.4%;
    margin-left: 3.4%;
    margin-right: 0%;
}
#recent-posts-container.columns:first-child {
    margin-left: 0%;
}
#recent-posts-container p {
    font-size: 11px;
}

#recent-posts-container a {
    color: white;
}
#recent-posts-container a:hover {
    color: #DDD;
}

.recent_posts_element_title {
    color: white;
    margin-top: 45px;
    margin-bottom: 15px;
    font-weight: bold;
}
.recent_posts_post_title {
    font-size: 15px;
    color: #fff;
}
.recent_posts_byline {
    color: #646464;
    font-size: 11px;
    padding-bottom: 10px;
}

/*============================*/
/*======= Twitter Bar ========*/
/*============================*/

#twitterbar {
    overflow: hidden;
    margin: auto;
    background: url(../images/twitterbarbg.png);
    min-height: 42px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#bird {
    float: left;
    height: 45px;
    width: 64px;
    margin-right: 35px;
}

.twitter_bird {
    margin-left: 20px;
    margin-right: 15px;
}

#twittertext {
    color: #7c7c7c;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 13.5px 0px 13.5px 15px;
}

/*============================*/
/*====== Bread Crumbs ========*/
/*============================*/

.crumbs_text {
    height: 50px;
    padding: 0 5px 5px 15px;
}
.delimiter_breadcrumbs {
    background: url("http://www.ecdrink.com.hk/wp-content/themes/linkr/images/button_dot.png") no-repeat scroll 0 -90px transparent;
    bottom: -11px;
    margin: 0;
    padding: 0;
    width: 30px;
}
.delimiter_breadcrumbs, .crumbs_text a {
    height: 30px;
    display: inline-block;
    position: relative;
}
.delimiter_breadcrumbs, .crumbs_text a:first-child {
    text-transform: lowercase;
}
/*============================*/
/*===== Widgitized Boxes =====*/
/*============================*/

.boxes {
    margin-top: 45px;
    margin-bottom: 20px;
    padding-bottom: 45px;
    border-bottom: 2px solid #3d3d3d;
}

.box_element_title {
    color: white;
    margin-top: 45px;
    font-weight: bold;
    margin-bottom: -35px;
}

#box_container {
    min-height: 240px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#box_container ul {
    list-style: none;
}

.boximg {
    margin: auto;
    margin-bottom: 15px;
}

.boxtext {
    text-align: left;
    color: #9a9a9a;
    margin-bottom: 5px;
    font-size: 13px;
}

.box-widget-title {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
    clear: both;
}

#box1 {
    min-height: 180px;
    color: #222;
}

#box2 {
    min-height: 180px;
    color: #222;
}

#box3 {
    min-height: 180px;
    color: #222;
}

.boxes ul {
    padding-left: 15px;
}

/*============================*/
/*===== Portfolio =====*/
/*============================*/

#gallery {
}

#gallery {
    border-bottom: 2px solid #3d3d3d;
}

#portfolio_wrap {
}

#portfolio_wrap.three.columns:last-child, #portfolio_wrap.four.columns:last-child, #portfolio_wrap.six.columns:last-child {
    float: left;
}

.portfolio_title {
    color: white;
}

.portfolio_caption {
    text-align: center;
    bottom: 50%;
    left: 5px;
    color: white;
    width: 100%;
    position: absolute;
    z-index: 2;
    font-size: 18px;
}

#gallery li.three.columns {
    margin-right: 0px;
    margin-left: 4.4%;
}
#gallery li.four.columns {
    margin-right: 0px;
    margin-left: 4.4%;
}
#gallery li.six.columns {
    margin-right: 0px;
    margin-left: 4.4%;
}

#portfolio_wrap.three.columns:first-child, #portfolio_wrap.four.columns:first-child, #portfolio_wrap.six.columns:first-child {
    margin-left: 0%;
}

#portfolio_wrap.three.columns.first-row, #portfolio_wrap.four.columns.first-row, #portfolio_wrap.six.columns.first-row {
    margin-left: 0%;
}

#gallery ul {
    list-style: none;
    margin: 0px;
}

#gallery ul li {
    display: inline;
}

#gallery ul img {
    border: 2px solid #3D3D3D;
}

#gallery ul a:hover img {

    color: #fff;
    opacity: .5;
}

#gallery ul a:hover {
    color: #fff;
}

/* SLIMBOX */

#lbOverlay {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
}

#lbCenter, #lbBottomContainer {
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    background-color: #fff;
}

.lbLoading {
    background: #fff url(../images/portfolio/loading.gif) no-repeat center;
}

#lbImage {
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid #fff;
    background-repeat: no-repeat;
}
#post-pagination-wrap .prev.page-numbers, #post-pagination-wrap .next.page-numbers, #lbPrevLink, #lbNextLink {
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 50px;
    outline: none;
    z-index: 10;
    background-image: url(http://www.ecdrink.com.hk/wp-content/themes/linkr/images/button_next_prev.png);
    background-repeat: no-repeat;
    -webkit-transition: all 0.21s ease-in-out;
    -moz-transition: all 0.21s ease-in-out;
    -o-transition: all 0.21s ease-in-out;
    transition: all 0.21s ease-in-out;
}
#post-pagination-wrap .prev.page-numbers {
    background-position: 0 20%;
}
#lbPrevLink {
    left: -100px;
    background-position: 0 20%;
}
#post-pagination-wrap .next.page-numbers {
    background-position: -100px 20%;
}
#lbNextLink {
    right: -100px;
    background-position: -100px 20%;
}
/*pagination configurations*/
#post-pagination-wrap .prev.page-numbers, #post-pagination-wrap .next.page-numbers, #post-pagination-wrap .page-numbers {
    float: left;
    position: relative;
}
#post-pagination-wrap .page-numbers:not(.next):not(.prev) {
    display: block;
    height: 50px;
    line-height: 50px;
    width: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #f43b7f;
    margin-left: 3px;
    margin-right: 3px;
}
/*mobile square navigation images*/
#PREVLink, #NEXTLink, #TOPLink {
    display: block;
    position: absolute;
    top: 0;
    width: 55px;
    height: 55px;
    outline: none;
    z-index: 10;
    background-image: url(http://www.ecdrink.com.hk/wp-content/themes/linkr/images/button_arrow_square.png);
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.21s ease-in-out;
    -moz-transition: opacity 0.21s ease-in-out;
    -o-transition: opacity 0.21s ease-in-out;
    transition: opacity 0.21s ease-in-out;
}
#TOPLink {
    background-position: -55px 0px;
}
#TOPLink:hover {
    background-position: -55px -165px;
}
#PREVLink {
    left: 0px;
    background-position: 0px 0px;
}
#PREVLink:hover {
    background-position: 0px -165px;
}
#NEXTLink {
    right: 0px;
    background-position: -110px 0px;
}
#NEXTLink:hover {
    background-position: -110px -165px;
}
#book_the_seat {
    width: 140px;
    height: 40px;
    /*background-image: url(http://www.ecdrink.com.hk/wp-content/themes/linkr/images/bg_pink_bar.png);
     background-repeat: no-repeat;
     position: absolute;
     bottom: 0px;
     right: 0px;
     text-align: center;
     display: block;
     line-height: 40px;
     color: black;*/
}
#book_the_seat:hover {
    color: white;
}
@media only screen and (min-width: 690px) {
    #TOPLink {
        display: none;
    }
}
.bgwhite.singlecoupon > #book_the_seat {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 55px;
    height: 30px;
    z-index: 5;
    text-align: center;
    padding: 0px;
}
#book_the_seat img {
    height: 25px;
    margin: 3px;
}
.eventsingle #book_the_seat {
    width: 25%;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    padding: 5px;
}
nav.pages {
    height: 60px;
}
nav.pages #lbPrevLink {
    left: 0px
}
nav.pages #lbNextLink {
    right: 0px;
}
nav.pages #lbPrevLink, nav.pages #lbNextLink {
    display: block;
}
.datawrap > #book_the_seat {
    bottom: 30px;
}
#lbCenter:hover #lbPrevLink {
    left: 0;
}
#lbCenter:hover #lbNextLink {
    right: 0;
}
#lbBottom {
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 10px;
    color: #666;
    line-height: 1.4em;
    text-align: left;
    border: 10px solid #fff;
    border-top-style: none;
}

#lbCloseLink {
    display: block;
    float: right;
    width: 66px;
    height: 22px;
    background: transparent url(../images/portfolio/closelabel.gif) no-repeat center;
    margin: 5px 0;
    outline: none;
}

#lbCaption, #lbNumber {
    margin-right: 71px;
}

#lbCaption {
    font-weight: bold;
}

@import url(http://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700);
/*------------------------------------*/
.butt {
    float: right;
    font-size: .825em;
    text-decoration: none;
    font-weight: 700;
    padding: .35em 1em;
    background-color: #eaeef1;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: #F43B7F;
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
.font_diact {
    color: rgba(0, 0, 0, .0);
    text-align: center;
    position: relative;
    font: 18px/18px 'Didact Gothic', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px rgb(255, 203, 222), 2px 0px 2px rgb(243, 57, 127), -1px 1px 2px rgb(173, 46, 93);,
    -1px -2px 2px rgb(253, 125, 173);
}
.font_diact {
    font-weight: 46px;
}
.butt:hover, .butt.hover {
    background-color: #fff;
}

.butt:active, .butt.active {
    background-color: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
.enter {
    float: right;
    font-size: 36px !important;
    display: block;
}
.candySweetButton {
    background: rgb(252,236,252);
    background: -moz-linear-gradient(top,  rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,236,252,1)), color-stop(50%,rgba(251,166,225,1)), color-stop(51%,rgba(253,137,215,1)), color-stop(100%,rgba(255,124,216,1)));
    background: -webkit-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%);
    background: -o-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%);
    background: linear-gradient(to bottom,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 );
}
.candySweetButton:hover {
    background: rgb(255,124,216);
    background: -moz-linear-gradient(top,  rgba(255,124,216,1) 0%, rgba(253,137,215,1) 71%, rgba(249,192,231,1) 95%, rgba(252,236,252,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,124,216,1)), color-stop(71%,rgba(253,137,215,1)), color-stop(95%,rgba(249,192,231,1)), color-stop(100%,rgba(252,236,252,1)));
    background: -webkit-linear-gradient(top,  rgba(255,124,216,1) 0%,rgba(253,137,215,1) 71%,rgba(249,192,231,1) 95%,rgba(252,236,252,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,124,216,1) 0%,rgba(253,137,215,1) 71%,rgba(249,192,231,1) 95%,rgba(252,236,252,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,124,216,1) 0%,rgba(253,137,215,1) 71%,rgba(249,192,231,1) 95%,rgba(252,236,252,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,124,216,1) 0%,rgba(253,137,215,1) 71%,rgba(249,192,231,1) 95%,rgba(252,236,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc',GradientType=0 );
}
.dashed {
    border: 1px dashed white;
}
.banner_400 {
    width: 50%;
    float: left;
    display: block;
}
.banner_150 {
    width: 33%;
    float: left;
    display: block;
}
#pastevent_container article .title, .coming_events.first:active, .coming_events.first:hover, .coming_events.first, .coming_events {
    background: -moz-linear-gradient(top,  rgba(51,0,35,0.8) 0%, rgba(55,0,35,1) 44%, rgba(56,0,35,1) 56%, rgba(61,0,34,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,0,35,0.8)), color-stop(44%,rgba(55,0,35,1)), color-stop(56%,rgba(56,0,35,1)), color-stop(100%,rgba(61,0,34,0.8)));
    background: -webkit-linear-gradient(top,  rgba(51,0,35,0.8) 0%,rgba(55,0,35,1) 44%,rgba(56,0,35,1) 56%,rgba(61,0,34,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(51,0,35,0.8) 0%,rgba(55,0,35,1) 44%,rgba(56,0,35,1) 56%,rgba(61,0,34,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(51,0,35,0.8) 0%,rgba(55,0,35,1) 44%,rgba(56,0,35,1) 56%,rgba(61,0,34,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(51,0,35,0.8) 0%,rgba(55,0,35,1) 44%,rgba(56,0,35,1) 56%,rgba(61,0,34,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc330023', endColorstr='#cc3d0022',GradientType=0 );
    clear: both;
}
.coming_events:not(.first):active, .coming_events:hover:not(.first) {
-webkit-transition: box-shadow 0.4s ease;
-moz-transition: box-shadow 0.4s ease;
-ms-transition: box-shadow 0.4s ease;
-o-transition: box-shadow 0.4s ease;
transition: box-shadow 0.4s ease;
background: -moz-linear-gradient(top,  rgba(43,0,25,1) 0%, rgba(43,0,25,1) 1%, rgba(73,25,55,0.6) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,0,25,1)), color-stop(1%,rgba(43,0,25,1)), color-stop(100%,rgba(73,25,55,0.6)));
background: -webkit-linear-gradient(top,  rgba(43,0,25,1) 0%,rgba(43,0,25,1) 1%,rgba(73,25,55,0.6) 100%);
background: -o-linear-gradient(top,  rgba(43,0,25,1) 0%,rgba(43,0,25,1) 1%,rgba(73,25,55,0.6) 100%);
background: -ms-linear-gradient(top,  rgba(43,0,25,1) 0%,rgba(43,0,25,1) 1%,rgba(73,25,55,0.6) 100%);
background: linear-gradient(to bottom,  rgba(43,0,25,1) 0%,rgba(43,0,25,1) 1%,rgba(73,25,55,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b0019', endColorstr='#99491937',GradientType=0 );
}
.ispast_1.coming_events, .ecdrinkphotowall {
    background: -moz-linear-gradient(top,  rgba(142,0,71,1) 0%, rgba(61,0,34,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,0,71,1)), color-stop(100%,rgba(61,0,34,0.8)));
    background: -webkit-linear-gradient(top,  rgba(142,0,71,1) 0%,rgba(61,0,34,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(142,0,71,1) 0%,rgba(61,0,34,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(142,0,71,1) 0%,rgba(61,0,34,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(142,0,71,1) 0%,rgba(61,0,34,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e0047', endColorstr='#cc3d0022',GradientType=0 );
}
a.coming_events:not(.first):active, a.coming_events:hover:not(.first) {
-webkit-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
-moz-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
}
.ecbutton {
    border-radius: 3px;
    background: #feffff;
    background: -moz-linear-gradient(top,  #feffff 0%, #f43b7f 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(98%,#f43b7f));
    background: -webkit-linear-gradient(top,  #feffff 0%,#f43b7f 98%);
    background: -o-linear-gradient(top,  #feffff 0%,#f43b7f 98%);
    background: -ms-linear-gradient(top,  #feffff 0%,#f43b7f 98%);
    background: linear-gradient(to bottom,  #feffff 0%,#f43b7f 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f43b7f',GradientType=0 );
    -moz-box-shadow: inset 0px 0px 3px #59094d;
    -webkit-box-shadow: inset 0px 0px 3px #59094d;
    box-shadow: inset 0px 0px 3px #59094d;
    z-index: 5;
}
.ecbutton:hover {
    -webkit-transition: box-shadow 0.4s ease;
    -moz-transition: box-shadow 0.4s ease;
    -ms-transition: box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    -webkit-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
}
@media print {
    #book_the_seat, #header, #footer, #afterfooter, .rightside_ads, .leftside_ads {
        display: none;
    }
}

@media only screen and (max-width: 1140px) and (min-width: 768px) {
    .container .row {
        width: 1140px;
    }
    #mobile_bar_slider_small>.row,
    .locations>.row,
    .metatab>.row,
    .advertisement_400>.row,
    .innerwrapper > .row {
        width: auto;
    }
}
